In [1]:
import pandas as pd
import numpy as np
import math

from trading_algorithm_framework.portfolio import *
from trading_algorithm_framework.stock import *

In [2]:
aapl_data = pd.read_csv('AAPL_data.csv', parse_dates=True, index_col=0)

In [3]:
aapl_data.head(7)

               open     high      low    close     volume  Name
date
2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL
2013-02-15  66.9785  67.1656  65.7028  65.7371   97924631  AAPL
2013-02-19  65.8714  66.1042  64.8356  65.7128  108854046  AAPL