In [1]:
import pandas as pd
import numpy as np
import math

from trading_algorithm_framework.portfolio import *
from trading_algorithm_framework.stock import *

In [2]:
aapl_data = pd.read_csv('AAPL_data.csv', parse_dates=True, index_col=0)

In [3]:
aapl_stock = Stock('AAPL', aapl_data)
aapl_stock.history_df.head()

               open     high      low    close     volume  Name
date
2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416  AAPL
2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425  AAPL
2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363  AAPL
2013-02-13  66.7442  67.6628  66.1742  66.7156  118721995  AAPL
2013-02-14  66.3599  67.3771  66.2885  66.6556   88809154  AAPL

In [4]:
pf = Portfolio()

In [5]:
def point_to_share(point, volume):
    return Share(
        point.close_price,
        volume
    )

purchase_date = aapl_data.index[0]
new_share = point_to_share(aapl_stock.history[purchase_date], 1)

pf.buy(
    aapl_stock.get_symbol(),
    'long',
    new_share,
    purchase_date
)

In [6]:
pf.positions['AAPL'].returns

-67.8542

In [7]:
pf.balance

49932.1458

In [12]:
pf.exposure

67.8542